/* consent-form.css */
header {
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed; !* 고정 위치로 변경 *!*/
    /*z-index: 1000; !* 다른 요소들 위에 표시되도록 *!*/
    /*padding: 10px 0;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

header .header-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

footer {
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000; /* 다른 요소들 위에 표시되도록 */
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

footer .footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center; /* 가운데 정렬 */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-top: 0;
}

.consent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#consentForm {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 80px; /* header 높이만큼 여백 추가 */
    margin-bottom: 80px;
    justify-content: center;

}

.form-group {
    margin-bottom: 15px;
}

#consentForm label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#consentForm input[type="text"],
#consentForm input[type="date"],
#consentForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#consentForm input[readonly] {
    background-color: #f0f0f0;
    color: #777;
}

#consentForm textarea {
    resize: vertical;
    height: 100px;
}

#consentForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

#consentForm button:hover {
    background-color: #45a049;
}
