body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

header {
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 80px; /* 헤더 아래에 로그인 컨테이너가 위치하도록 마진 추가 */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button.signup {
    background-color: #28a745;
}

.login-container button:hover {
    opacity: 0.9;
}
