body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: black;
}

header {
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3c3c3c;
}

.patient-info {
    display: flex;
    gap: 20px;
}

.toolbar {
    padding: 10px;
    background-color: #2980b9; /* 파스텔톤 하늘색으로 변경 */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.toolbar button {
    padding: 10px 20px;
    background-color: #3498db; /* 파스텔톤 파란색으로 변경 */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.toolbar button:hover {
    background-color: #b0e0e6; /* 파스텔톤 밝은 파란색으로 변경 */
}

#mainContent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100vh - 60px); /* Adjust height to your needs */
    background-color: #ffffff; /* 흰색 배경으로 변경 */
}

#thumbnails {
    width: 200px;
    background-color: #336699; /* 아주 밝은 파란색으로 변경 */
    overflow-y: auto;
}

.viewport {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.viewport > div {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.thumbnail-viewport {
    cursor: pointer;
    width: 180px;
    height: 180px;
    margin: 10px;
}

/* 그리드 모달창 스타일 */
.gridModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.gridModal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    width: 185px;
    height: 185px;
    position: fixed;
    top: 17%;
    right: 40px;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 그리드 선택 스타일 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    width: 100%;
    height: calc(100% - 40px); /* Adjust height based on title and padding */
    box-sizing: border-box;
}

.grid-option {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #888;
    cursor: pointer;
}

.grid-option:hover {
    background-color: #5c5c5c;
}

.grid-selected {
    border: 2px solid #ffffff;
}

/* 리포트 모달창 스타일 */
.reportModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.reportModal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
